* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    color: white;
    border: transparent;
}
input {
    width: 245px;
    height: 60px;
    border-color: lightgray;
}

.column1, .column2, .column3, .column4, .column5 {
    display: flex;
    gap: 3px;
    padding-top: 5px;
}

.num, .negative, .decimal {
    background-color: gray;
}

.operator {
background-color: orange;
}

.erase, .eraseAll {
    background-color: rgb(177, 176, 176);
}

.display {
 margin-bottom: 5px; 
}

#display {
    outline: 1px solid lightgray;  /* will change, it makes to big */
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: end;
}

.calculator {
    padding: 10px;
    background-color: black;
    border-radius: 10px;
    max-width: 250px;
    max-height: 390px;
    
}

button:hover {
    cursor: pointer;
    transition: 0.15s;
    transform: scale(1.1);
}
